mock-outputs/rdm/mmt/schema/MMTMaster_1p0_urn_un_unece_uncefact_data_Standard_QualifiedDataType_101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:qdt="urn:un:unece:uncefact:data:Standard:QualifiedDataType:101"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:clm5ISO63912A="urn:un:unece:uncefact:codelist:standard:ISO:ISO2AlphaLanguageCode:2006-10-27"
    xmlns:clm5ISO42173A="urn:un:unece:uncefact:codelist:standard:ISO:ISO3AlphaCurrencyCode:2012-08-31"
    xmlns:clm61229LineStatusCode="urn:un:unece:uncefact:codelist:standard:UNECE:ActionCode:D18B"
    xmlns:clm63131="urn:un:unece:uncefact:codelist:standard:UNECE:AddressType:D18B"
    xmlns:clm65189AllowanceChargeID="urn:un:unece:uncefact:codelist:standard:UNECE:AllowanceChargeIdentificationCode:D18B"
    xmlns:clm64465AllowanceChargeReasonCode="urn:un:unece:uncefact:codelist:standard:UNECE:AllowanceChargeReasonCode:D18B"
    xmlns:clm67085b="urn:un:unece:uncefact:codelist:standard:UNECE:CargoOperationalCategoryCode:D18B"
    xmlns:clm6Recommendation21AnnexI="urn:un:unece:uncefact:codelist:standard:UNECE:CargoTypeCode:1996Rev2Final"
    xmlns:clm67357="urn:un:unece:uncefact:codelist:standard:UNECE:CommodityIdentificationCode:D18A"
    xmlns:clm63155CommunicationChannelCode="urn:un:unece:uncefact:codelist:standard:UNECE:CommunicationMeansTypeCode:D18B"
    xmlns:clm63139ContactTypeCode="urn:un:unece:uncefact:codelist:standard:UNECE:ContactFunctionCode:D18B"
    xmlns:clm69213="urn:un:unece:uncefact:codelist:standard:UNECE:CustomsDutyRegimeTypeCode:D18B"
    xmlns:clm68339="urn:un:unece:uncefact:codelist:standard:UNECE:DangerousGoodsPackingCode:D18B"
    xmlns:clm68273="urn:un:unece:uncefact:codelist:standard:UNECE:DangerousGoodsRegulationCode:D18B"
    xmlns:clm64053="urn:un:unece:uncefact:codelist:standard:UNECE:DeliveryTermsCode:2010"
    xmlns:clm64055DeliveryTermsFunctionCode="urn:un:unece:uncefact:codelist:standard:UNECE:DeliveryTermsFunctionCode:D18B"
    xmlns:clm66145="urn:un:unece:uncefact:codelist:standard:UNECE:DimensionTypeCode:D18B"
    xmlns:clm61001="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentNameCode:D18B"
    xmlns:clm61373="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentStatusCode:D18B"
    xmlns:clm65153="urn:un:unece:uncefact:codelist:standard:UNECE:DutyTaxFeeTypeCode:D18B"
    xmlns:clm65305="urn:un:unece:uncefact:codelist:standard:UNECE:DutyorTaxorFeeCategoryCode:D18B"
    xmlns:clm68155="urn:un:unece:uncefact:codelist:standard:UNECE:EquipmentSizeTypeDescriptionCode:D18B"
    xmlns:clm68077="urn:un:unece:uncefact:codelist:standard:UNECE:EquipmentSupplierCode:D18B"
    xmlns:clm62475="urn:un:unece:uncefact:codelist:standard:UNECE:EventTimeReferenceCode:D18B"
    xmlns:clm66131="urn:un:unece:uncefact:codelist:standard:UNECE:FreightChargeQuantityUnitBasisCode:D18B"
    xmlns:clm65243="urn:un:unece:uncefact:codelist:standard:UNECE:FreightChargeTariffCode:D18B"
    xmlns:clm6TDED7357="urn:un:unece:uncefact:codelist:standard:UNECE:GoodsTypeCode:D18B"
    xmlns:clm6TDED7361="urn:un:unece:uncefact:codelist:standard:UNECE:GoodsTypeExtensionCode:D18B"
    xmlns:clm69417="urn:un:unece:uncefact:codelist:standard:UNECE:GovernmentActionCode:D18B"
    xmlns:clm63227="urn:un:unece:uncefact:codelist:standard:UNECE:LocationFunctionCode:D18B"
    xmlns:clm64233="urn:un:unece:uncefact:codelist:standard:UNECE:MarkingInstructionCode:D18B"
    xmlns:clm6Recommendation20Linear="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeLinear:4"
    xmlns:clm6Recommendation20Temperature="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeTemperature:4"
    xmlns:clm6Recommendation20Volume="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeVolume:4"
    xmlns:clm6Recommendation20Weight="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeWeight:4"
    xmlns:clm6Recommendation20Airflow="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCode_Airflow:4"
    xmlns:clm61225MessageFunctionTypeCode="urn:un:unece:uncefact:codelist:standard:UNECE:MessageFunctionCode:D18B"
    xmlns:clm67065="urn:un:unece:uncefact:codelist:standard:UNECE:PackageTypeCode:2006"
    xmlns:clm67075="urn:un:unece:uncefact:codelist:standard:UNECE:PackagingLevelCode:D18B"
    xmlns:clm63035="urn:un:unece:uncefact:codelist:standard:UNECE:PartyRoleCode:D18B"
    xmlns:clm63035ChargePaying="urn:un:unece:uncefact:codelist:standard:UNECE:PartyRoleCode_ChargePaying:D18B"
    xmlns:clm64431="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentGuaranteeMeansCode:D18B"
    xmlns:clm64435="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentMeansChannelCode:D18B"
    xmlns:clm64461="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentMeansCode:D18B"
    xmlns:clm64439="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentMethodCode:D18B"
    xmlns:clm64279="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentTermsTypeCode:D18B"
    xmlns:clm65375="urn:un:unece:uncefact:codelist:standard:UNECE:PriceTypeCode:D18B"
    xmlns:clm64037PriorityDescriptionCode="urn:un:unece:uncefact:codelist:standard:UNECE:PriorityDescriptionCode:D18B"
    xmlns:clm61153ReferenceTypeCode="urn:un:unece:uncefact:codelist:standard:UNECE:ReferenceTypeCode:D18B"
    xmlns:clm69415ResponsibleAgencyCode="urn:un:unece:uncefact:codelist:standard:UNECE:ResponsibleAgencyCode:D18B"
    xmlns:clm69411ResponsibleAgencyInvolvementCode="urn:un:unece:uncefact:codelist:standard:UNECE:ResponsibleAgencyInvolvementCode:D18B"
    xmlns:clm64517="urn:un:unece:uncefact:codelist:standard:UNECE:SealConditionCode:D18B"
    xmlns:clm6SealTypeCode="urn:un:unece:uncefact:codelist:standard:UNECE:SealTypeCode:D14A"
    xmlns:clm69303="urn:un:unece:uncefact:codelist:standard:UNECE:SealingPartyRoleCode:D18B"
    xmlns:clm64405="urn:un:unece:uncefact:codelist:standard:UNECE:StatusCode:D18B"
    xmlns:clm66245="urn:un:unece:uncefact:codelist:standard:UNECE:TemperatureTypeCode:D18B"
    xmlns:clm62379timeonly="urn:un:unece:uncefact:codelist:standard:UNECE:TimeOnlyFormatCode:D18B"
    xmlns:clm62379="urn:un:unece:uncefact:codelist:standard:UNECE:TimePointFormatCode:D18B"
    xmlns:clm68053="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentCategoryCode:D18B"
    xmlns:clm68169="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentFullnessCode:D18B"
    xmlns:clm68341="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentHaulageArrangementsCode:D18B"
    xmlns:clm68249c="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentMovementLegalStatusCode:D18B"
    xmlns:clm68249a="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentMovementStatusCode:D18B"
    xmlns:clm68249b="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentOperationalStatusCode:D18B"
    xmlns:clm68101="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMeansDirectionCode:D18B"
    xmlns:clm6Recommendation28="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMeansTypeCode:2007"
    xmlns:clm6Recommendation19="urn:un:unece:uncefact:codelist:standard:UNECE:TransportModeCode:2"
    xmlns:clm68051="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMovementStageCode:D18B"
    xmlns:clm68323TransportMovementTypeCode="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMovementTypeCode:D18B"
    xmlns:clm64237TransportPaymentArrangementCode="urn:un:unece:uncefact:codelist:standard:UNECE:TransportPaymentArrangementCode:D18B"
    xmlns:clm65237TransportServiceCategoryCode="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServiceCategoryCode:D18B"
    xmlns:clm64065TransportServiceConditionCode="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServiceConditionCode:D18B"
    xmlns:clm64219TransportServicePriorityCode="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServicePriorityCode:D18B"
    xmlns:clm67273TransportServiceRequirementCode="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServiceRequirementCode:D18B"
    xmlns:clm6Recommendation24="urn:un:unece:uncefact:codelist:standard:UNECE:TransportStatusCode:4"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:25"
    xmlns:ids5ISO6391A2="urn:un:unece:uncefact:identifierlist:standard:ISO:ISOAlpha2LanguageCode:2006-10-27"
    xmlns:ids5ISO316612A="urn:un:unece:uncefact:identifierlist:standard:ISO:ISOTwo-letterCountryCode:SecondEdition2006"
    xmlns:ids6Recommendation23="urn:un:unece:uncefact:identifierlist:standard:UNECE:FreightCostCode:4"
    targetNamespace="urn:un:unece:uncefact:data:Standard:QualifiedDataType:101"
    elementFormDefault="qualified"
    version="101.0">
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:ISO:ISO2AlphaLanguageCode:2006-10-27" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_ISO_ISO2AlphaLanguageCode_2006-10-27.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:ISO:ISO3AlphaCurrencyCode:2012-08-31" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_ISO_ISO3AlphaCurrencyCode_2012-08-31.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:ActionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_ActionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:AddressType:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_AddressType_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:AllowanceChargeIdentificationCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_AllowanceChargeIdentificationCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:AllowanceChargeReasonCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_AllowanceChargeReasonCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:CargoOperationalCategoryCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_CargoOperationalCategoryCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:CargoTypeCode:1996Rev2Final" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_CargoTypeCode_1996Rev2Final.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:CommodityIdentificationCode:D18A" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_CommodityIdentificationCode_D18A.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:CommunicationMeansTypeCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_CommunicationMeansTypeCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:ContactFunctionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_ContactFunctionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:CustomsDutyRegimeTypeCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_CustomsDutyRegimeTypeCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DangerousGoodsPackingCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DangerousGoodsPackingCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DangerousGoodsRegulationCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DangerousGoodsRegulationCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DeliveryTermsCode:2010" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DeliveryTermsCode_2010.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DeliveryTermsFunctionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DeliveryTermsFunctionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DimensionTypeCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DimensionTypeCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentNameCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DocumentNameCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DocumentStatusCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DocumentStatusCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DutyTaxFeeTypeCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DutyTaxFeeTypeCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:DutyorTaxorFeeCategoryCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_DutyorTaxorFeeCategoryCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:EquipmentSizeTypeDescriptionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_EquipmentSizeTypeDescriptionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:EquipmentSupplierCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_EquipmentSupplierCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:EventTimeReferenceCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_EventTimeReferenceCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:FreightChargeQuantityUnitBasisCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_FreightChargeQuantityUnitBasisCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:FreightChargeTariffCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_FreightChargeTariffCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:GoodsTypeCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_GoodsTypeCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:GoodsTypeExtensionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_GoodsTypeExtensionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:GovernmentActionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_GovernmentActionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:LocationFunctionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_LocationFunctionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:MarkingInstructionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_MarkingInstructionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeLinear:4" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_MeasurementUnitCommonCodeLinear_4.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeTemperature:4" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_MeasurementUnitCommonCodeTemperature_4.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeVolume:4" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_MeasurementUnitCommonCodeVolume_4.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCodeWeight:4" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_MeasurementUnitCommonCodeWeight_4.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:MeasurementUnitCommonCode_Airflow:4" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_MeasurementUnitCommonCode_Airflow_4.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:MessageFunctionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_MessageFunctionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PackageTypeCode:2006" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PackageTypeCode_2006.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PackagingLevelCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PackagingLevelCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PartyRoleCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PartyRoleCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PartyRoleCode_ChargePaying:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PartyRoleCode_ChargePaying_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentGuaranteeMeansCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PaymentGuaranteeMeansCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentMeansChannelCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PaymentMeansChannelCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentMeansCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PaymentMeansCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentMethodCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PaymentMethodCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PaymentTermsTypeCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PaymentTermsTypeCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PriceTypeCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PriceTypeCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:PriorityDescriptionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_PriorityDescriptionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:ReferenceTypeCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_ReferenceTypeCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:ResponsibleAgencyCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_ResponsibleAgencyCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:ResponsibleAgencyInvolvementCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_ResponsibleAgencyInvolvementCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:SealConditionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_SealConditionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:SealTypeCode:D14A" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_SealTypeCode_D14A.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:SealingPartyRoleCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_SealingPartyRoleCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:StatusCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_StatusCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TemperatureTypeCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TemperatureTypeCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TimeOnlyFormatCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TimeOnlyFormatCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TimePointFormatCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TimePointFormatCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentCategoryCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportEquipmentCategoryCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentFullnessCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportEquipmentFullnessCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentHaulageArrangementsCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportEquipmentHaulageArrangementsCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentMovementLegalStatusCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportEquipmentMovementLegalStatusCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentMovementStatusCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportEquipmentMovementStatusCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportEquipmentOperationalStatusCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportEquipmentOperationalStatusCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMeansDirectionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportMeansDirectionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMeansTypeCode:2007" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportMeansTypeCode_2007.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportModeCode:2" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportModeCode_2.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMovementStageCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportMovementStageCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportMovementTypeCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportMovementTypeCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportPaymentArrangementCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportPaymentArrangementCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServiceCategoryCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportServiceCategoryCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServiceConditionCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportServiceConditionCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServicePriorityCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportServicePriorityCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportServiceRequirementCode:D18B" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportServiceRequirementCode_D18B.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:UNECE:TransportStatusCode:4" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_codelist_standard_UNECE_TransportStatusCode_4.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:25" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_25.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:identifierlist:standard:ISO:ISOAlpha2LanguageCode:2006-10-27" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_identifierlist_standard_ISO_ISOAlpha2LanguageCode_2006-10-27.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:identifierlist:standard:ISO:ISOTwo-letterCountryCode:SecondEdition2006" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_identifierlist_standard_ISO_ISOTwo-letterCountryCode_SecondEdition2006.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:identifierlist:standard:UNECE:FreightCostCode:4" schemaLocation="MMTMaster_1p0_urn_un_unece_uncefact_identifierlist_standard_UNECE_FreightCostCode_4.xsd"/>
  <xsd:simpleType name="AddressTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AddressTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm63131:AddressTypeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:AddressTypeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AirFlowUnitMeasureType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="clm6Recommendation20Airflow:MeasurementUnitCommonCodeAirflowContentType" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="AllowanceChargeIdentificationCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm65189AllowanceChargeID:AllowanceChargeIdentificationCodeContentType">
        <xsd:attribute name="listAgencyID" type="xsd:token" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="AllowanceChargeReasonCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AllowanceChargeReasonCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64465AllowanceChargeReasonCode:AllowanceChargeReasonCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:AllowanceChargeReasonCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CargoCategoryCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CargoCategoryCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm6Recommendation21AnnexI:CargoTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:CargoCategoryCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="CargoCommodityCategoryCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm67357:CommodityIdentificationCodeContentType">
        <xsd:attribute name="listAgencyID" type="xsd:token" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CargoOperationalCategoryCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CargoOperationalCategoryCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm67085b:CargoOperationalCategoryCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:CargoOperationalCategoryCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ChargePayingPartyRoleCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ChargePayingPartyRoleCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm63035ChargePaying:PartyRoleCodeChargePayingContentType">
        <xsd:attribute name="listAgencyID" type="qdt:ChargePayingPartyRoleCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CommunicationChannelCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CommunicationChannelCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm63155CommunicationChannelCode:CommunicationMeansTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:CommunicationChannelCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ContactTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ContactTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm63139ContactTypeCode:ContactFunctionCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:ContactTypeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CountryIDSchemeAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CountryIDType">
    <xsd:simpleContent>
      <xsd:extension base="ids5ISO316612A:ISOTwoletterCountryCodeContentType">
        <xsd:attribute name="schemeAgencyID" type="qdt:CountryIDSchemeAgencyIDContentType"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CurrencyCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CurrencyCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm5ISO42173A:ISO3AlphaCurrencyCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:CurrencyCodeListAgencyIDContentType" fixed="5"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CustomsDutyRegimeTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CustomsDutyRegimeTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm69213:CustomsDutyRegimeTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:CustomsDutyRegimeTypeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DangerousGoodsPackagingLevelCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DangerousGoodsPackagingLevelCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68339:DangerousGoodsPackingCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:DangerousGoodsPackagingLevelCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DangerousGoodsRegulationCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DangerousGoodsRegulationCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68273:DangerousGoodsRegulationCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:DangerousGoodsRegulationCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DeliveryTermsCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DeliveryTermsCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64053:DeliveryTermsCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:DeliveryTermsCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DeliveryTermsFunctionCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DeliveryTermsFunctionCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64055DeliveryTermsFunctionCode:DeliveryTermsFunctionCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:DeliveryTermsFunctionCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DimensionTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DimensionTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm66145:DimensionTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:DimensionTypeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DocumentCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DocumentCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm61001:DocumentNameCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:DocumentCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DocumentStatusCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DocumentStatusCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm61373:DocumentStatusCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:DocumentStatusCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="FormattedDateTimeType">
    <xsd:sequence>
      <xsd:element name="DateTimeString">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="format" type="clm62379:TimePointFormatCodeContentType"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="FreightChargeTariffClassCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="FreightChargeTariffClassCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm65243:FreightChargeTariffCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:FreightChargeTariffClassCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="FreightChargeTypeIDSchemeAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="FreightChargeTypeIDType">
    <xsd:simpleContent>
      <xsd:extension base="ids6Recommendation23:FreightCostCodeContentType">
        <xsd:attribute name="schemeAgencyID" type="qdt:FreightChargeTypeIDSchemeAgencyIDContentType"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GoodsTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm6TDED7357:GoodsTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="xsd:token" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GoodsTypeExtensionCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm6TDED7361:GoodsTypeExtensionCodeContentType">
        <xsd:attribute name="listAgencyID" type="xsd:token" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="GovernmentActionCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="GovernmentActionCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm69417:GovernmentActionCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:GovernmentActionCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LanguageCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LanguageCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm5ISO63912A:ISO2AlphaLanguageCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:LanguageCodeListAgencyIDContentType" fixed="5"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LanguageIDSchemeAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LanguageIDType">
    <xsd:simpleContent>
      <xsd:extension base="ids5ISO6391A2:ISOAlpha2LanguageCodeContentType">
        <xsd:attribute name="schemeAgencyID" type="qdt:LanguageIDSchemeAgencyIDContentType"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LinearUnitMeasureType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="clm6Recommendation20Linear:MeasurementUnitCommonCodeLinearContentType" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LineStatusCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LineStatusCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm61229LineStatusCode:ActionCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:LineStatusCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LocationFunctionCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LocationFunctionCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm63227:LocationFunctionCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:LocationFunctionCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="LogisticsChargeCalculationBasisCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm66131:FreightChargeQuantityUnitBasisCodeContentType">
        <xsd:attribute name="listAgencyID" type="xsd:token" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LogisticsStatusCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="LogisticsStatusCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm6Recommendation24:TransportStatusCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:LogisticsStatusCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="MarkingInstructionCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MarkingInstructionCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64233:MarkingInstructionCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:MarkingInstructionCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="MessageFunctionCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MessageFunctionCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm61225MessageFunctionTypeCode:MessageFunctionCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:MessageFunctionCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PackageTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PackageTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm67065:PackageTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:PackageTypeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PackagingLevelCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PackagingLevelCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm67075:PackagingLevelCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:PackagingLevelCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PartyRoleCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PartyRoleCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm63035:PartyRoleCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:PartyRoleCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PaymentGuaranteeMeansCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PaymentGuaranteeMeansCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64431:PaymentGuaranteeMeansCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:PaymentGuaranteeMeansCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PaymentMeansChannelCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PaymentMeansChannelCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64435:PaymentMeansChannelCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:PaymentMeansChannelCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PaymentMeansCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PaymentMeansCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64461:PaymentMeansCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:PaymentMeansCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PaymentMethodCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PaymentMethodCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64439:PaymentMethodCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:PaymentMethodCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PaymentTermsTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PaymentTermsTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64279:PaymentTermsTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:PaymentTermsTypeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PriceTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PriceTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm65375:PriceTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:PriceTypeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PriorityDescriptionCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PriorityDescriptionCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64037PriorityDescriptionCode:PriorityDescriptionCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:PriorityDescriptionCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ReferenceCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ReferenceCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm61153ReferenceTypeCode:ReferenceTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:ReferenceCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ResponsibleGovernmentAgencyCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ResponsibleGovernmentAgencyCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm69415ResponsibleAgencyCode:ResponsibleAgencyCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:ResponsibleGovernmentAgencyCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ResponsibleGovernmentAgencyInvolvementCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ResponsibleGovernmentAgencyInvolvementCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm69411ResponsibleAgencyInvolvementCode:ResponsibleAgencyInvolvementCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:ResponsibleGovernmentAgencyInvolvementCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SealConditionCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SealConditionCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64517:SealConditionCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:SealConditionCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SealingPartyRoleCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SealingPartyRoleCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm69303:SealingPartyRoleCodeContentType">
        <xsd:attribute name="listID" type="xsd:token" fixed="9303"/>
        <xsd:attribute name="listAgencyID" type="qdt:SealingPartyRoleCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SealTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm6SealTypeCode:SealTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="xsd:token" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="StatusCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="StatusCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64405:StatusCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:StatusCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TaxCategoryCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TaxCategoryCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm65305:DutyorTaxorFeeCategoryCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TaxCategoryCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TaxTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TaxTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm65153:DutyTaxFeeTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TaxTypeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TemperatureTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TemperatureTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm66245:TemperatureTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TemperatureTypeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TemperatureUnitMeasureType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="clm6Recommendation20Temperature:MeasurementUnitCommonCodeTemperatureContentType" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="TimeOnlyFormattedDateTimeType">
    <xsd:sequence>
      <xsd:element name="DateTimeString">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="format" type="clm62379timeonly:TimeOnlyFormatCodeContentType"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="TimeReferenceCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TimeReferenceCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm62475:EventTimeReferenceCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TimeReferenceCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportEquipmentCategoryCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportEquipmentCategoryCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68053:TransportEquipmentCategoryCodeContentType">
        <xsd:attribute name="listID" type="xsd:token" fixed="8053"/>
        <xsd:attribute name="listAgencyID" type="qdt:TransportEquipmentCategoryCodeListAgencyIDContentType" fixed="6"/>
        <xsd:attribute name="listVersionID" type="xsd:token" fixed="D18B"/>
        <xsd:attribute name="name" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportEquipmentFullnessCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportEquipmentFullnessCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68169:TransportEquipmentFullnessCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportEquipmentFullnessCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportEquipmentHaulageArrangementsCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportEquipmentHaulageArrangementsCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68341:TransportEquipmentHaulageArrangementsCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportEquipmentHaulageArrangementsCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportEquipmentLegalStatusCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportEquipmentLegalStatusCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68249c:TransportEquipmentMovementLegalStatusCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportEquipmentLegalStatusCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportEquipmentMovementStatusCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportEquipmentMovementStatusCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68249a:TransportEquipmentMovementStatusCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportEquipmentMovementStatusCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportEquipmentOperationalStatusCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportEquipmentOperationalStatusCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68249b:TransportEquipmentOperationalStatusCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportEquipmentOperationalStatusCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportEquipmentSizeTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportEquipmentSizeTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68155:EquipmentSizeTypeDescriptionCodeContentType">
        <xsd:attribute name="listID" type="xsd:token" fixed="8155"/>
        <xsd:attribute name="listAgencyID" type="qdt:TransportEquipmentSizeTypeCodeListAgencyIDContentType" fixed="6"/>
        <xsd:attribute name="listVersionID" type="xsd:token" fixed="D18B"/>
        <xsd:attribute name="name" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportEquipmentSupplierPartyRoleCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportEquipmentSupplierPartyRoleCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68077:EquipmentSupplierCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportEquipmentSupplierPartyRoleCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportMeansDirectionCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportMeansDirectionCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68101:TransportMeansDirectionCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportMeansDirectionCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportMeansTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportMeansTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm6Recommendation28:TransportMeansTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportMeansTypeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportModeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportModeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm6Recommendation19:TransportModeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportModeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportMovementStageCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportMovementStageCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68051:TransportMovementStageCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportMovementStageCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportMovementTypeCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportMovementTypeCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm68323TransportMovementTypeCode:TransportMovementTypeCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportMovementTypeCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportServiceCategoryCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportServiceCategoryCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm65237TransportServiceCategoryCode:TransportServiceCategoryCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportServiceCategoryCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportServiceConditionCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportServiceConditionCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64065TransportServiceConditionCode:TransportServiceConditionCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportServiceConditionCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportServicePaymentArrangementCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportServicePaymentArrangementCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64237TransportPaymentArrangementCode:TransportPaymentArrangementCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportServicePaymentArrangementCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportServicePriorityCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportServicePriorityCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm64219TransportServicePriorityCode:TransportServicePriorityCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportServicePriorityCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportServiceRequirementCodeListAgencyIDContentType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="6"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TransportServiceRequirementCodeType">
    <xsd:simpleContent>
      <xsd:extension base="clm67273TransportServiceRequirementCode:TransportServiceRequirementCodeContentType">
        <xsd:attribute name="listAgencyID" type="qdt:TransportServiceRequirementCodeListAgencyIDContentType" fixed="6"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VolumeUnitMeasureType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="clm6Recommendation20Volume:MeasurementUnitCommonCodeVolumeContentType" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="WeightUnitMeasureType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="clm6Recommendation20Weight:MeasurementUnitCommonCodeWeightContentType" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
